flask 
flask-restful 
flask-sqlalchemy 
sqlalchemy 
flask-marshmallow 
python-dateutil 
flask-jwt 
werkzeug 
flask-cors 
flask-script 
flask-migrate 
flask-mail 
psycopg2-binary 
marshmallow-sqlalchemy
botocore
requests
boto3
python-dotenv
pymongo
flask_jwt_extended
bson
dnspython