flask 
flask-restful 
flask-sqlalchemy 
sqlalchemy 
flask-marshmallow 
datetime 
flask-jwt 
werkzeug 
flask-cors 
flask-script 
flask-migrate 
flask-mail 
psycopg2-binary 
marshmallow-sqlalchemy
dotenv
botocore
requests
boto3
smtplib
python-dotenv
pymongo
flask_jwt_extended
bson